.btn {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
}
.btn:hover {
    background-position: right center;
}

.btnInput1 {
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    border-color: aqua;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.btnInput2 {
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    border-color: aqua;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.authorAfterImg {
    padding: 0 0 0 51px;
    font-size: large;
}

.ImageResult {
    width: 256px;
    height: 256px;
}

.imgFlex {
    display: flex;
    flex-direction: row;
    margin: 10px 0 0 10px;
    flex-wrap: wrap;

}
